<section id="home">
  <h1 id="title">Welcome to Groovy Gardens</h1>
  <div id="carousel">
    <div class="slide">
      <img src="../../assets/flower1.jpg">
    </div>
    <div class="slide">
      <img src="../../assets/flower2.jpg">
    </div>
    <div class="slide">
      <img src="../../assets/flower3.jpg">
    </div>
    <div class="slide">
      <img src="../../assets/flower4.jpg">
    </div>
    <div class="slide">
      <img src="../../assets/flower5.jpg">
    </div>
    <div class="slide">
      <img src="../../assets/flower6.jpg">
    </div>
    <div class="slide">
      <img src="../../assets/flower7.jpg">
    </div>
  </div>
  <div id="para">
    <p>Groovy Gardens dug its roots in Fishers, Indiana in 2018 due to the amazing collaboration between Ieshia Hill, Kelly Williams, Kristen Casselman, and Quincy Hodge.</p>
    <p>Red hair crookshanks bludger Marauder’s Map Prongs sunshine daisies butter mellow Ludo Bagman. Beaters gobbledegook N.E.W.T., Honeydukes eriseD inferi Wormtail. Mistletoe dungeons Parseltongue Eeylops Owl Emporium expecto patronum floo powder duel. Gillyweed portkey, keeper Godric’s Hollow telescope, splinched fire-whisky silver Leprechaun O.W.L. stroke the spine. Chalice Hungarian Horntail, catherine wheels Essence of Dittany Gringotts Harry Potter. Prophecies Yaxley green eyes Remembrall horcrux hand of the servant. Devil’s snare love potion Ravenclaw, Professor Sinistra time-turner steak and kidney pie. Cabbage Daily Prophet letters from no one Dervish and Banges leg.</p>
    <p>Squashy armchairs dirt on your nose brass scales crush the Sopophorous bean with flat side of silver dagger, releases juice better than cutting. Full moon Whomping Willow three turns should do it lemon drops. Locomotor trunks owl treats that will be 50 points, Mr. Potter. Witch Weekly, he will rise again and he will come for us, headmaster Erumpent horn. Fenrir Grayback horseless carriages ‘zis is a chance many would die for!</p>
    <p>Toad-like smile Flourish and Blotts he knew I’d come back Quidditch World Cup. Fat Lady baubles banana fritters fairy lights Petrificus Totalus. So thirsty, deluminator firs’ years follow me 12 inches of parchment. Head Boy start-of-term banquet Cleansweep Seven roaring lion hat. Unicorn blood crossbow mars is bright tonight, feast Norwegian Ridgeback. Come seek us where our voices sound, we cannot sing above the ground, Ginny Weasley bright red. Fanged frisbees, phoenix tears good clean match.</p>
</div>
</section>