#home {
    background-image: url("../../assets/back4.jpg");
    background-size: cover;
    height: 900px;
    position: relative;
}

.fade {
    background-color: rgba(0,0,0,0.55);
    width: 100%;
    height: 100%;
}

.tDiv {
    position: relative;
}

#title {
    position: absolute;
    /* left: 5%; */
    top: 20px;
    margin: 0;
    width: 100%;
    background-color: rgba(0,0,0,0.55);
    color: #ffc7d1;
    text-shadow: 2px 2px 1px #0c0e01;
    text-align: center;
    font-size: 50px;
    border: solid #0c0e01;
    border-radius: 5px;
}

.photoSec {
    position: absolute;
    top: 115px;
    width: 100%;
    /* background-color: rgba(0,0,0,0.55); */
}

.carousel {
    margin: auto;
    width: 450px;
    background-color: black;
    overflow-x: auto;
    white-space: nowrap;
    border: solid #0c0e01;
    border-radius: 5px;
    /* box-shadow: 5px 5px 15px #0c0e01; */
    box-shadow: 0.5px 0.5px 20px #ff917b8e;
}

.carousel .slide {
    display: inline-block;
    height: 100%;
}

img {
    height: 300px;
    width: 450px;
}

.labelDiv {
    position: absolute;
    width: 100%;
    /* top: 100%; */
    top: 0;
}

.label {
    color: #0c0e01;
    background-color: #ff917b8e;
    text-align: center;
    width: 450px;
    margin: auto;
    border: #0c0e01;
    border-radius: 5px;
}

#aboutUs {
    text-align: center;
    color: #0c0e01;
    background-color: #ff917b8e;
    width: 100%;
    margin: auto;
    border: #0c0e01;
    border-radius: 10px;
}

.paraDiv{
    position: absolute;
    background-color: rgba(0,0,0,0.55);
    width: 100%;
    bottom: 0px;
    /* border-top: solid #0c0e019c; */
}

.para {
    background-color: #0c0e01;
    color: #ffc7d1;
    font-size: 20px;
    width: 60%;
    height: 100%;
    margin: auto;
    border: #0c0e01;
    border-radius: 10px;
    box-shadow: 0.5px 0.5px 20px #ff917b8e;
}

#p {
    padding: 5px 20px 5px 20px;
}