.container {
    background-image: url('../../assets/back5.jpg');
    background-position: cover;
    height: 850px;
    position: relative;
}

.paraSec h1 {
    background-color: #ff917b8e;
    text-align: center;
    width: 400px;
    margin: auto;
    border: #0c0e01;
    border-radius: 5px;
}

.paraSec{
    position: absolute;
    top: 50px;
    width: 100%;
    /* height: 350px; */
    background-color: rgba(0,0,0,0.5);
    color: white;
}

#para {
    background-color: #0c0e01;
    color: #ffc7d1;
    font-size: 20px;
    width: 60%;
    height: 100%;
    padding: 20px 40px 20px 40px;
    margin: auto;
    border: #0c0e01;
    border-radius: 10px;
}

.formDiv {
    /* background-color: green; */
    text-align: center;
    margin: auto;
    position: absolute;
    bottom: 50px;
    background-color: rgba(0,0,0,0.5);
    width: 100%;
    color: #ffc7d1;
}

.formDiv h1 {
    color: white;
    background-color: #ff917b8e;
    text-align: center;
    width: 400px;
    margin: auto;
    border: #0c0e01;
    border-radius: 5px;
}

.form {
    width: 40%;
    height: 300px;
    text-align: center;
    margin: auto;
    background-color: #0c0e01;
}